/*
 * =====================================
 * 1. Common styles for general table things.
 * =====================================
 */
img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: underline;
  color: black;
}

/*
 * =================
 * 2. Content styles.
 * ==================
 */



/*
 * ================
 * 3. Footer styles.
 * ================
 */
* {
  margin: 0;
  padding: 0;
}

.container {
    max-width: 480px;
}

.signature, .info-item p {
  color: #202020;
}

.signature {
  font-size: 15px;
  margin-bottom: 20px;
}

.name {
  font-size: 19px;
  font-weight: 600;
}

.position {
  font-size: 15px;
  margin-bottom: 50px;
  font-weight: bold;
}

.position, .info-item {
  color: #99C04B;
}

.logo {
  margin-bottom: 30px;
}
.info-item, .info p, .info a {
  font-size: 12px;
}
.info-item {
  margin-right: 5px;
  font-weight: bold;
}

.info p {
  display: inline-block;
  float: left;
}

.info p:nth-child(2) {
  margin-left: 15px;
}

.row, .info p {
  margin: 0px 0 12px;
}

.row.rate-us {
  margin-top: 35px;
}

.row.rate-us img:nth-child(2) {
  margin-left: 2px;
}

