
<div class="container">
  <p class="signature"><!-- @echo signature --></p>
  <p class="name"><!-- @echo name --></p>
  <p class="position"><!-- @echo position --></p>
  <div class="logo"><img src="assets/logo-HA.gif" alt="HA-logo"/></div>
  <div class="info" >
    <p><span class="info-item">Office: </span>1/441 little Bourke St, Melbourne VIC 3000, Australia</p>
    <p><span class="info-item">Phone: </span>1300 368 359</p>
    <div style="clear: both"></div>
  </div>
  <div class="info">
    <p><span class="info-item">Email: </span><a href="mailto:<!-- @echo contactMail -->"><!-- @echo contactMail --></a></p>
    <p><span class="info-item">Website: </span><a href="https://hostingaustralia.com.au">hostingaustralia.com.au</a></p>
    <div style="clear: both"></div>
  </div>

  <div class="row rate-us">
    <img src="assets/button-rate.gif" alt="button-rate.gif"/>
    <img src="assets/button-reviews.gif" alt="button-reviews.gif"/>
  </div>

  <div class="row">
    <img src="assets/button-video.gif" alt="button-video.gif"/>
  </div>
</div>